# Dependency directory
node_modules

# pnpm uses npm for publishing a new version with
# dependencies bundled but the npm lockfile is not needed
# because pnpm use pnpm for installation
package-lock.json

/.cache
/build
.env

**/.DS_Store